<div class="main-layout">
    <header>
        <div class="container">
            <small-loading style="float: left;"></small-loading>
            <a class="btn btn-success" ui-sref="main.home"><i class="material-icons md-24">home</i></a>
            <a class="btn btn-warning" ui-sref="main.about"><i class="material-icons">face</i></a>
        </div>
    </header>

    <img src="../../../../../public/images/img1.jpg" alt="" class="main-layout__banner">

    <section>
        <div class="container">
            <div class="row">

                <main class="col-md-9">
                    <ui-view/>
                </main>

            </div>
        </div>
    </section>
</div>


